@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim';
}

body {
    height: 100vh;
    padding: 30px;
    background-color: #c3c3c3;
}

img {
    opacity: 0%;
    transition: opacity 0.2s linear;
}

#title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

main {
    display: flex;
    justify-content: space-around;    
}

img, .card {
    border-radius: 20px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 615px;
    height: 410px;
    margin-right: 100px;
}

.card{
    width: 150px;
    height: 150px;
    background-color: #ff7f50;
    margin-left: 8px;
    margin-bottom: 15px;
    background-size: 100% 100%;
}

.card:hover {
    cursor: pointer;
}

.user-info {
    padding: 10px;
    padding-top: 20px;
    width: 300px;
    height: 200px;
    background-color: rgb(219, 214, 214);
    border-radius: 20px;
    box-shadow: 0px 3px 10px #424040;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 1.5px;
}

.container-matches {
    display: flex;
}

.container-score {
    display: flex;
}

#contact {
    margin-top: auto;
}

#contact:hover {
    color: #0b73dc;
}

/* Styles for screens up to 350px */
@media only screen and (max-width: 350px) {

    main {
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .container-cards {
        width: 100%;
        height: auto;
        justify-content: center;
        margin-right: 0px;
    }

    .card {
        width: 80px;
        height: 80px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .user-info {
        width: 100%;
        height: 100px;
    }
    
}

/* Styles for screens between 351px and 600px */
@media only screen and (min-width: 351px) and (max-width: 600px) {

    main {
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .container-cards {
        width: 100%;
        height: auto;
        justify-content: center;
        margin-right: 0px;
    }

    .card {
        width: 100px;
        height: 100px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .user-info {
        width: 300px;
        height: 100px;
    }
    
}

/* Styles for screens between 601px and 720px */
@media only screen and (min-width: 601px) and (max-width: 720px) {

    main {
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .container-cards {
        width: 100%;
        height: auto;
        justify-content: center;
        margin-right: 0px;
    }

    .card {
        width: 130px;
        height: 130px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .user-info {
        width: 300px;
        height: 100px;
    }
    
}
